-var items = [{name: 'Проектирование оборудования и металлоконструкций'}, {name: 'Модернизация / переоснащение'}, {name: 'Планирование конструкций'}, {name: 'Инспекционные услуги для подъемного оборудования'}, {name: 'Телефонная поддержка'}, {name: 'Анализ и консультация'}, {name: 'Управление проектами'}, {name: 'Проверка безопасности'}, {name: 'Осмотр и техническое обслуживание'}, {name: 'Аутсорсинг и риски'}, {name: 'Ремонт и сервисное обслуживание'}, {name: 'Установка и ввод в эксплуатацию'}, {name: 'Запасные части'}, {name: 'Пуско-наладочные работы'}]

#services-accordion.collapse-style
	//- item
	- for(var i = 1; i < items.length +1; ++i){
		.card.collapsed(data-toggle="collapse",
							data-target="#service-tab-"+i,
							aria-expanded="true",
							aria-controls="service-tab-"+i)
			.cart-header
				i.mdi.mdi-chevron-down.arrowStatus
				|#{items[i-1].name}

		.collapse(id="service-tab-"+i, data-parent="#services-accordion", class=i==1?'show':'')
			.card-body.with-image 
				.d-flex
					.cover-item
						img(src="/images/tmp/proektirovanie_t.png")
					.info-case
						//- .title Описание
						.text
							p Беспроблемно и безопасно. Вот как ваши системы должны работать.
							p С помощью подходящих решений для осмотра и технического обслуживания мы помогаем Вам добиться успеха. Для обеспечения высокой доступности и высокой безопасности операторов и предприятий в целом необходим регулярный, надежный, компетентный осмотр. Конечно, мы работаем только с квалифицированными и опытными специалистами, которые очень хорошо осведомлены - и не только с нашими собственными продуктами. Потому что мы предлагаем, как осмотр, так и техническое обслуживание кранов, подъемников, погрузочно-разгрузочных устройств и соответствующих компонентов нашего бренда VISTON, а также продуктов других производителей.
							p Мы выполняем техническое обслуживание и проверку в соответствии с нашими требованиями. Это в значительной степени основано на местных правовых нормах.

							h1 Предотвращение сбоев
							p Любое использование оборудования обычно вызывает износ компонентов, что может вызвать сбои. Мы берем на себя осмотр ваших предприятий, чтобы как можно раньше предотвратить потенциальные сбои или проблемы, которые происходят в обозримом будущем, потому что вред может быть обнаружен и исправлен своевременно.
							h2 Своевременное обслуживание
							p Для обслуживания и проверки в соответствии с графиком технического обслуживания - это то, о котором мы заботимся. Изношенные детали заменяются своевременно, удаляются примеси, заполняются масла и жиры, поэтому все проходит гладко. Конечно, мы работаем исключительно с оригинальными запасными частями.
							h3 Короткое время реакции
							p Благодаря нашей сети компетентных сервисных команд мы можем быстро быть на месте, где бы вы ни находились, а также в чрезвычайной ситуации.
							h4 Управление инспектиями
							p В рамках наших сервисных соглашений мы помогаем Вам выполнить установленные сроки. На следующую дату обслуживания мы свяжемся с Вами для встречи.
						button.btn.btn-default.dark.small(onclick="contacts.feedBackScroll(event)") Заказать услугу
	- }